{{ define "extra_head" }}
{{ $code := resources.Get "js/repository.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $code.Permalink }}"></script>
{{- end }}

{{ define "main" }}
<section>
<div class="content" id="repository">La liste des recettes a besoin de javascript...</div>
<script>

function matches_filter(entry, regexp) {
    return  entry.title.search(regexp) >= 0 ||
            entry.summary.search(regexp) >= 0;
}

function format_entry(entry) {
    info = document.createElement("p")
    info.innerHTML = '<a href="'+entry.link+'"><b>'+entry.title+"</b></a>"+
        '<br/><!--<time datetime="'+entry.date+'">' + entry.date + '</time>-->' +
         "<span class='description'>"+entry.summary+"</span>";
    return info;
}

load_repository('index.json', 'repository');</script>

{{ end }}
